.cover__title {
  font-size: 4.5em;
  line-height: 76px;
  text-align: center;
  margin: 0 0 16px;
  max-width: 560px;
  color: #FFFFFF;
  font-weight: 900;
}

@media screen and (max-width: 425px) {
  .cover__title {
    font-size: 2em;
    line-height: 35px;
    margin: 33px 16px 0;
  }
}